.outer{
    text-align: center;
    padding-top: 1vw;
    padding-bottom:1vw;
}
.insert{
    border-radius: 5vw;
    background-color: #e3dfd6;
    color: #008000;
    border: none;
    width: 58vw;
    height: 7vw;
    font-size: 3vw;
    padding-left: 2vw;
}
.texto{
    font-size: 2.5vw;
    color: #25632d;
    margin-left: 24vw;
}